{% block exercise_1 %}
<div class="container-fluid exercise_1">
    <div class="row d-flex align-items-center vh-100">
        <div class="offset-2 col-4">
            <div class="text_exercise_1">
                <h3>Задание 1.</h3>
                <p>
                    Написать программу «справочник». Создать два списка целых. Один список хранит идентификационные
                    коды, второй — телефонные номера. Реализовать меню для пользователя:
                <ul class="items_ex_1">
                    <li>Отсортировать по идентификационным кодам;</li>
                    <li>Отсортировать по номерам телефона;</li>
                    <li>Вывести список пользователей с кодами и телефонами;</li>
                    <li>Выход.</li>
                </ul>
                </p>
            </div>
        </div>

        <div class="col-4">
            <div class="form_ex_1">
                <p>
                    Будет случайно генерироваться один список словарей при помощи библиотеки Faker. 
                    Вам остается лишь выбрать сортировку. Примечание: сортировка производится только
                    по возрастанию. 
                </p>
                <p>Выберите вид сортировки:</p>
                <form action="/ex_1" method="post">
                    <div class="d-flex flex-column ">
                        <label class="custom-radio">
                            <input type="radio" name="sort_ex_1" value="sort_by_first_name">
                            <span>Сортировка по имени</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="sort_ex_1" value="sort_by_last_name">
                            <span>Сортировка по фамилии</span>
                        </label>
                        <label class="custom-radio">
                            <input type="radio" name="sort_ex_1" value="sort_by_phone_number">
                            <span>Сортировка по номеру телефона</span>
                        </label>    
                    </div>
                    <button class="submit mt-3" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}