{% extends 'main/base.html' %}

{% block exercise_2_answer %}
<div class="container">
    <div class="row d-flex align-items-center vh-100">
        <div class="col-12">
            <h4 class="amount_of_books text-center">Количество книг: {{ sort[1] }}</h4>
            <div class="table-scroll">
                <table>
                    <thead>
                        <tr>
                            <th width="200">Название</th>
                            <th width="200">Автор</th>
                            <th width="200">Год выпуска</th>
                            <th>Краткое содержание</th>
                        </tr>
                    </thead>
                </table>

                <div class="table-scroll-body content">
                    <table>
                        <tbody>
                            {% for book in sort[0]: %}
                            <tr>
                                <td width="200">{{ book['title'] }}</td>
                                <td width="200">{{ book['author'] }}</td>
                                <td width="200">{{ book['year'] }}</td>
                                <td>{{ book['summary'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <a href="/">
                    <button class="button_to_main_page">На главную страницу</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}