/* ————————————————————————————————————————————————— DEFAULT SETTINGS ————————————————————————————————————————————————— */

@font-face {
    font-family: 'Unbounded';
    src: url(../fonts/Unbounded-Light.ttf);
}

:root {
    --font-family: 'Unbounded';
    --text-color-light: rgb(223, 165, 103);
    --text-color-light-transparent: rgba(223, 165, 103, 0.711);
    --text-color-dark: rgb(70, 70, 70);
    --text-shadow-light:
        1px 1px 6px var(--text-color-light),
        2px 2px 2px var(--text-color-dark);
    --text-shadow-dark: 1px 1px 1px var(--text-color-dark);
    --box-shadow-light:
        3px 3px 20px var(--text-color-light-transparent),
        -3px -3px 20px var(--text-color-light-transparent),
        -3px 3px 20px var(--text-color-light-transparent),
        3px -3px 20px var(--text-color-light-transparent);
    --box-shadow-dark:
        3px 3px 10px var(--text-color-dark),
        -3px -3px 10px var(--text-color-dark);
    --block-background: var(--text-color-dark);
    --block-background-transparent: rgba(70, 70, 70, 0.717);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--block-background);
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color-light);
    font-family: var(--font-family);
}

/* ————————————————————————————————————————————————— BLOCK HEADER ————————————————————————————————————————————————— */

#github_link {
    white-space: pre-wrap;
    text-decoration: none;
    color: var(--text-color-light);
    margin-right: 20px;
    transition: .3s;
}

#github_link:hover {
    text-shadow: var(--text-shadow-light);
    transform: scale(1.1);
}

.navbar_container {
    background-color: var(--block-background-transparent);
    border-radius: 10px;
    transition: .3s;
}

.navbar_container:hover {
    transform: scale(1.02);
    background-color: var(--block-background);
}

/* ————————————————————————————————————————————————— BLOCK WELCOME ————————————————————————————————————————————————— */

.text_welcome,
.text_welcome_description {
    white-space: pre-wrap;
    text-shadow: var(--text-shadow-light);
    transition: 0.3s;
    overflow: hidden;
}

.span_text_welcome {
    position: relative;
    transition: .3s;
    display: inline-block;
    animation: title 2s;
}

.span_text_welcome_description {
    position: relative;
    transition: .3s;
    display: inline-block;
    animation: span 2s;
}

@keyframes title {

    0%,
    30% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes span {

    0%,
    30% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}


/* ————————————————————————————————————————————————— PRELOADER ————————————————————————————————————————————————— */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--block-background);
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    margin-top: -75px;
    margin-left: -75px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: var(--text-color-light);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 2s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

/* ————————————————————————————————————————————————— BLOCK EXERCISE_1 ————————————————————————————————————————————————— */

.exercise_1 {
    backdrop-filter: brightness(.7);
}

.text_exercise_1,
.form_ex_1 {
    background-color: var(--block-background-transparent);
    padding: 20px;
    border-radius: 10px;
    transition: .3s;
}

.text_exercise_1:hover,
.form_ex_1:hover {
    background-color: var(--block-background);
}

.items_ex_1 li {
    list-style-type: square;
}

.custom-radio>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--text-color-light);
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: var(--text-color-light-transparent);
}

.custom-radio>input:not(:disabled):active+span::before {
    background-color: var(--text-color-light-transparent);
    border-color: var(--text-color-light-transparent);
}

.custom-radio>input:checked+span::before {
    border-color: var(--text-color-light);
    background-color: var(--text-color-light);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb(70, 70, 70)'/%3e%3c/svg%3e");
}

.submit {
    border-radius: 5px;
    background-color: var(--text-color-light);
    color: var(--text-color-dark);
    border: none;
    padding: 5px 20px;
    transition: .3s;
}

.submit:hover {
    background-color: rgb(188, 140, 88);
}