<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python — Сортировка</title>
    <link rel="stylesheet" href="{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body class="page_not_found">

    {% block error_header %}
    {% include 'errors/error_header.html' %}
    {% endblock %}

    <div class="container page_not_found_content d-flex justify-content-center align-items-center vh-100">
        <div class="row">

            {% block page_not_found %}
            {% endblock %}

            {% block bad_request %}
            {% endblock %}

        </div>
    </div>

    <script src="https://kit.fontawesome.com/fb866d52e1.js" crossorigin="anonymous"></script>
</body>

</html>